
.Staff {
  width: 100vw;
  height: calc(100vh - 20px);
}

.StaffsearchArea{
  width: calc(100% - 60px);
  height: calc(100% - 120px);
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
}